{% extends "base.html" %}
{% block trust %}
{% if request.state.kiosk_notice %}
{% set notice = request.state.kiosk_notice_settings %}
<p class="trust-banner trust-banner--align-{{ notice['alignment'] }} trust-banner--size-{{ notice['size'] }} trust-banner--icon-{{ notice['icon'] }}">
  {% if notice['icon'] != 'none' %}
  <span class="trust-banner__icon" aria-hidden="true"></span>
  {% endif %}
  <span class="trust-banner__text">{{ request.state.kiosk_notice | nl2br }}</span>
</p>
{% endif %}
{% endblock %}
{% block content %}
{% if groups %}
<div class="k-tiles">
  {% for g in groups %}
  <a class="k-tile" href="/g/{{ g['id'] }}">
    <span class="k-tile__inner">
      {% if g['has_logo'] %}
      <img
        class="k-tile__logo"
        src="/group-logo/{{ g['id'] }}"
        alt=""
        decoding="async"
        loading="lazy"
      />
      {% endif %}
      <span class="k-tile__title">{{ g['name'] }}</span>
    </span>
  </a>
  {% endfor %}
</div>
{% else %}
<p class="k-empty">Keine Gruppen vorhanden. Bitte im Admin unter „Nutzergruppen“ anlegen.</p>
{% endif %}
{% endblock %}
